.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f9fb;
  padding: 20px 0;
}

.contact-box {
  padding: 100px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  background: url("unsplash__JBKdviweXI.png");
}

.contact-box h2 {
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #222;
}

.contact-box p {
  color: #555;
  line-height: 1.5;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row {
  display: flex;
  gap: 15px;
}

.form-row input {
  flex: 1;
}

input,
textarea {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
}

input:focus,
textarea:focus {
  border-color: #6366f1;
}

textarea {
  resize: none;
  height: 120px;
}

.contact-btn {
  background: #6366f1;
  color: white;
  border: none;
  border-radius: 9px;
  padding: 14px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
  width: 220px;
  height: 50px;
  
}

.contact-btn:hover {
  background: #4f46e5;
}