
.ContainerMainPage {
   max-height: none; 
  height: auto;
  max-width: 1383px;
  max-height: 829px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  background-image: url('./backimg.png');
  background-size: cover;
  background-position: center;
  padding: 200px 120px;
margin: 100px auto;  
  position: relative;
}
/* margin: 100px auto; Mu dade na samiot kod dae vo red da ne go zeza i da neam over lap  */
.Buttons {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-left: auto;  
  padding-right: 32px;  
}
.btn-touch{
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: #1a1a1a;
  cursor: pointer;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}
.logos-top, .logos-bot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 64px 0;
}


.logos-top img, .logos-bot img {
  max-height: 100px; 
  object-fit: contain;
}
.logos-top{
  margin: none;
}
.Company-startUp{
  display: flex;
  
  text-align: center;
  justify-content: center;
}
.spinning-rocket {
  width: 150px;
  animation: spinning-rocket 3s linear infinite;
  transform-style: preserve-3d;
}
.rocket-container{
  perspective: 800px; 
}
.blue-word{
    color: #696CFF;
    font-size: 35px;
}

 .article{
    position: relative;
    color: white;
    background: linear-gradient(90deg,rgba(105, 108, 255, 1) 0%, rgba(149, 116, 255, 1) 80%);
    border-radius: 20px;
    padding: 40px;
    margin: 30px;
}
.article-paragraph{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.article-paragraph .article-main-text{
    font-size: 40px ;
}
.article-paragraph .article-title{
    font-size: 18px;
}
.article-card .article-title{
    font-size: 25px;
}
.article-cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
}
.article-card{
    background: linear-gradient(90deg,rgba(#696CFF) 0%, rgb(#9574FF) 80%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 300px;
    height: 260px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 32px;
    font-size: 15px;
}
.article-image img{
    position: absolute;
    right: 0;
    top: -320px;
}
.main-presentation-bottom {
  min-height: 100vh;
  background: #f6f9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}
/* ddddd */
.main-right-image-bottom{
  margin-top: 50px;
  margin-left: 250px;
}