
html, body, #root {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

footer {
  background-color: #111;
  color: white;
  padding: 20px;
  text-align: center;
}
