.footer {
  background-color:#232323;
  color: #ffffff;
  padding: 3rem 1.5rem;
}

 .footer-container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
  flex-wrap: wrap;
  text-align: left;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}


.footer p {
  color: #d1d5db;
  font-size: 0.9rem;
  max-width: 300px;
  margin-bottom: 1.5rem;
}

.footer h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer li,
.footer a {
  color: #d1d5db;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
  transition: color 0.3s;
}

.footer a:hover {
  color: #ffffff;
}

.footer .social-icons {
  display: flex;
  gap: 0.75rem;
  margin-top: 0.5rem;
}

.footer .social-icons a {
  border: 1px solid #6366f1;
  padding: 0.5rem;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6366f1;
  transition: all 0.3s;
}

.footer .social-icons a:hover {
  background-color: #6366f1;
  color: #ffffff;
}

.footer-line {
  height: 3px;
  background-color: #374151;
  width: 100%;
  max-width: 1280px;
  margin: 2rem auto;
}


.token {
  
  font-size: 0.8rem;
  color: #9ca3af;
}
