.statistics-card {
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 2px 16px rgba(73, 85, 128, 0.04);
  padding: 28px 35px 32px 34px;
  width: 430px;
  max-width: 99%;
}

.statistics-title {
  font-size: 16px;
  color: #434a65;
  font-weight: 600;
  letter-spacing: 0.01em;
  margin-bottom: 7px;
}

.statistics-label {
  color: #b5b8c7;
  font-size: 14px;
  margin-bottom: 16px;
}

.statistics-chart {
  width: 100%;
  height: 145px;
  padding-top: 6px;
  padding-bottom: 6px;
}
